@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-400px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slider {
    /* background-color: red; */
    overflow: hidden;
    width: 100%;
    height: 400px;
    margin-top: 58px;
    
}

.slider img{
    width: 100%;
    height: 400px;
}

@media screen and (min-width: 768px) {
    .slider {
        background-color: red;
        overflow: hidden;
        width: 100%;
        height: 600px;
        margin-top: 0px;
    }
    
    .slider img{
        width: 100%;
        height:600px;
    }
}

.Write-Up-Heading{
    bottom: auto;
    top: 90px;
    transform: translateY(0);
    /* background-color: black; */
    /* width: fit-content; */
}

.Write-Up-Heading span{
    color: rgb(48, 206, 0);
}

.Write-Up-Heading h5{
    
    color:bisque;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    border: none;
    background-color: rgba(0, 0, 0, 0.308);
    
}

@media screen and (min-width: 768px) {
    .Write-Up-Heading{
        bottom: auto;
        top: 150px;
        transform: translateY(0);
        /* background-color: black; */
        /* width: fit-content; */
    }
    
    .Write-Up-Heading span{
        color: #4CAF50;
    }
    
    .Write-Up-Heading h5{
        
        color:bisque;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 70px;
        font-weight: bold;
        border: none;
        background-color: rgba(0, 0, 0, 0.308);
        
    }
}

.Write-Up-Heading h5 button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .Write-Up-Heading h5 button{
    font-size: 30px;
    }
}


.Write-Up-Heading h5 button:hover{

background-color: #45a049;

}

.Write-Up-Heading h5 button:active{
    
    background-color:blue;
    
    }

.Write-Up-Heading p{
    color: white;
    bottom: 0px;
}
