
.Space{
  height: 55px;
}
.choose{
  
background-color: #0092c74f;
height: 90vh;
/* margin-top: 53px; */

}

@media screen and (min-width:768px) {
  .choose{
  
    background-color: #0092c74f;
    height: 99vh;
    /* margin-top: 0px; */

    }
    
    .Space{
      height: 0px;
      
    }
}

.choose_class_container{
  display: grid;
  justify-content: center;
  /* background-color: green; */
}

.choose_class{
  background-color: #0091C7;
  margin-top: 60px;
  border-radius: 10px;
}
.choose_class p{
  margin: 0px;
  font-size: 30px;
  font-weight: bold;
 text-shadow: black;
 color: white;
 padding-top: 15px;
 padding-bottom: 15px;
 padding-left: 30px;
 padding-right: 30px;


}

.Classes{
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  /* background-color: blue; */
  gap: 10px;
  margin: 20px;
  
}

.Classes button{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color:#4CAF50;
  color: white;
  
}

.Classes button:hover{
  background-color: #0091C7;
}

.Classes button:active{
 
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}