.Logiback {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./images.jpg/blueblue.png");
    background-size: cover;
    background-color:#B0DDEE ;
    /* background-size: cover; */
    
  }

  @media screen and (min-width: 768px) {
    .Logiback {
      display: flex;
      justify-content: center;
      background-image: url("./images.jpg/blueblue.png");
      background-size: cover;
      align-items: center;
      height: 100vh;
      background-color: #B0DDEE;
      /* background-size: cover; */
      
    }
  }
  
  .formcontain {
    display: grid;
    row-gap: 10px;
    border: none;
    background-color:#BCEDFF;
    /* backdrop-filter: blur(10px); */
    padding: 30px;
    /* margin: 0px; */
    border-radius: 30px;
    width: 90%;
       
  }

  @media screen and (min-width: 768px) {
    .formcontain {
      display: grid;
      row-gap: 10px;
      border: none;
      background-color:#BCEDFF;
      /* backdrop-filter: blur(10px); */
      padding: 30px;
      /* margin: 0px; */
      border-radius: 30px;
      width: 30%;
         
    }
  }


  .label{
    display: grid;
    font-weight: bold;
  }


  .blur{
    border-radius: 20px;
    border: none;
    line-height: 30px;
    /* width: 280px; */
  
  }
  @media screen and (min-width:768px) {
    .blur{
      border-radius: 20px;
      border: none;
      line-height: 30px;
      /* width: 510px;; */
    
    }
    
  }

  .Logiback input{
padding-left: 20px;
  }

  .sign{
    display: flex;
    /* grid-template-columns: auto auto; */
    text-align: center;
    text-decoration: none;
    /* background-color: red; */
    /* margin-top: 10px; */
    gap: 1px;

   
  }


  .sign a{
    
    text-decoration: none;
    
  }

  .sign button{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px 10px;
    font-size: 15px;
    border: none;
    border-bottom: 10px;
    background-color:#ffffff;
  }

  .sign button:hover{
    /* background-color:  rgb(255, 255, 255); */
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    background-color: transparent;
    backdrop-filter: blur(10px);
  }

  .sign button:active{
   
    border-right: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);

  }

  .border1{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .border2{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
  }

  .border2 span{
    padding:0px;
    margin: 0px;
    /* background-color: red; */
  }

  .password-input {
    display: flex;
    justify-content:flex-start;
    /* position: relative; */
    /* background-color: aqua; */
    /* gap: 1px; */

}

.password-input input {
    width: 100%; 
}

.toggle-password-button {
   border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;


}

.blur_password{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  line-height: 30px;
  /* width: 280px; */

}
@media screen and (min-width:768px) {
  .blur_password{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    line-height: 30px;
    /* width: 510px;; */
  
  }
  
}

.forgetpassword{
  display: grid;
  /* background-color: aqua; */
  justify-content: center;
  
}

.forgetpassword button{
border-radius: 20px;
  border: none;
  background-color: white;
}


.forgetpassword button:hover{
  /* background-color:  rgb(255, 255, 255); */
  border-right: 1px solid green;
  border-bottom: 1px solid green;
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.forgetpassword button:active{
 
  border-right: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);

}