.Logiback {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./images.jpg/blueblue.png");
    background-size: cover;
    background-color:#B0DDEE ;
    /* background-size: cover; */
    
  }

  @media screen and (min-width: 768px) {
    .Logiback {
      display: flex;
      justify-content: center;
      background-image: url("./images.jpg/blueblue.png");
      background-size: cover;
      align-items: center;
      height: 100vh;
      background-color: #B0DDEE;
      /* background-size: cover; */
      
    }
  }
  
  .formcontain {
    display: grid;
    row-gap: 10px;
    border: none;
    background-color:#BCEDFF;
    /* backdrop-filter: blur(10px); */
    padding: 30px;
    /* margin: 0px; */
    border-radius: 30px;
    width: 90%;
       
  }

  @media screen and (min-width: 768px) {
    .formcontain {
      display: grid;
      row-gap: 10px;
      border: none;
      background-color:#BCEDFF;
      /* backdrop-filter: blur(10px); */
      padding: 30px;
      /* margin: 0px; */
      border-radius: 30px;
      width: 30%;
         
    }
  }


  .label{
    display: grid;
    font-weight: bold;
  }


  .blur{
    border-radius: 20px;
    border: none;
    line-height: 30px;
  
  }

  .Logiback input{
padding-left: 20px;
  }

  .sign{
    text-align: center;
    text-decoration: none;
    /* background-color: red; */
   
  }


  .sign a{
    
    text-decoration: none;
    
  }

  .sign button{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px 10px;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    border-bottom: 10px;
    background-color:#ffffff;
  }

  .sign button:hover{
    /* background-color:  rgb(255, 255, 255); */
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    background-color: transparent;
    backdrop-filter: blur(10px);
  }

  .sign button:active{
   
    border-right: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);

  }
