.page-container{
    display: flex;
    justify-content: center;
    background-image: url("./images.jpg/StarBlue.jpg");
    background-size: cover;
    /* background-color: #B0DDEE; */
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
}

@media screen and (min-width:768px) {
    .page-container{
        display: flex;
        justify-content: center;
        background-image: url("./images.jpg/StarBlue.jpg");
        background-size: cover;
        /* background-color: #B0DDEE; */
        align-items: center;
        min-height: 100vh; 
        margin: 0;
        padding: 0;
    }
}

.contact-grid-wrapper{
    padding: 30px;
    background-color:#BCEDFF;
    display: flex;
    /* width: 90%; */
    /* margin-top: 50px; */
    gap: 50px;
    border-radius: 10px;
}

@media screen and (min-width:768px) {
    .contact-grid-wrapper{
    padding: 30px;
    background-color:#BCEDFF;
    display: flex;
    gap: 50px;
    border-radius: 10px;
    /* width: fit-content; */
    /* margin-top: 0px; */
    }
}

.company-data-bar{
    z-index: -1;
}

@media screen and (min-width: 768px) {
    .company-data-bar{
        z-index: 1;
        /* background-color: blue; */
        display: flex;
        gap: 40px;
        justify-content: center;
        text-align: center;
    }
}

.company-data-bar > .comapny-logo-on-side img{
width: 200px;
margin-bottom: 20px;

}

.company-data-bar > .companydetails-contact-wrapper{
    font-weight:700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 1.25em;
    
}

.companydetails-contact-wrapper i {
    color: #cea135;
   }

/* form section */

.newaccounttext{
    text-align: center;
    text-decoration: none;
}


.form{
    /* display: grid; */
    position: absolute;
    justify-content: center;
    background-color: #BCEDFF;
    padding-bottom: 20px;
    width: 85%;
    top: 25%;
    left: 8%;
    
    
}

@media screen and (min-width:768px) {
    .form{
        /* display: grid; */
        position:relative;
        justify-content: center;
        background-color: none;
        padding-bottom: 30px;
        width: 400px;
        top: 0%;
        left: 0%;
    }
}
.form > .form-group{
   
     /* margin-left: 40px;
     margin-right: 40px; */
     /* background-color: #cea135; */
    
    
    
}

.form input{
    /* font-size: 20px; */
    font-family: inherit;
    color: inherit;
    padding: 5px;
    border-radius:  5px;
    border: none;
    /* border-bottom: 3px solid #000000; */
    width: 90.6%;
    display: block;
    transition: all 0.3s;
    margin-left: 15px;
}

@media screen and (min-width:768px) {
    .form input{
        /* font-size: 20px; */
        font-family: inherit;
        color: inherit;
        padding: 5px;
        border-radius:  5px;
        border: none;
        /* border-bottom: 3px solid #000000; */
        width: 90.6%;
        display: block;
        transition: all 0.3s;
        margin-left: 15px;
    }
}

.form input:focus{
    outline:none;
    box-shadow: 0 1rem 1rem rgb(196, 192, 192);
    border-bottom: 3px solid #cea135;
}

.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder{
    /* color: #11122b; */
}

.form input:focus::-webkit-input-placeholder, .form textarea:focus::-webkit-input-placeholder{
    color:transparent;
}

.form textarea:focus{
outline:none;
    box-shadow: 0 1rem 1rem rgb(196, 192, 192);
}

.form label{
    font-size: 1.2rem;
    font-weight: 500;
    /* margin-bottom: 10px; */
    /* margin-top: 0.70rem; */
    display: block;
    transition: all 0.3s;
    color: #cea135;
    visibility: hidden;
    opacity:0;
    text-align: left;
    margin-left: 15px;
}

.form input:focus + label, .form textarea:focus + label{
    opacity: 2;
    visibility: visible;
    /* transform: translateY(1rem); */
    margin-top: none;
}

.btn:active{
    outline:none;
    box-shadow: 0 1rem 1rem rgb(196, 192, 192);

}
.center-btn{
    display: flex;
    justify-content: center;
        

}

.center-btn button{
    margin-top: none;
    padding: 3px 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin-bottom: none;
    
    
}

.Alreadyhaveaccount{
    text-align: center;
    text-decoration: none;
    
}

.Alreadyhaveaccount a{
    text-decoration: none;
    line-height: 25px;
    margin-bottom: 0px;

}

.Alreadyhaveaccount p{
    text-decoration: none;
    line-height: 0px;
    margin-bottom: 0px;
    /* background-color: #cea135; */
}

.password-input-container {
    position: relative;
  }
  
  .password-input-container input {
    padding-right: 40px; /* Ensure space for the button */
  }
  
  .password-input-container .show-password-button {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    border: none;
  }
  
