.SubjectContainer {
  display: grid;
  justify-content: center;
  align-items:normal;
  margin-top: 60px;
  width: 100%;
  /* height: 800px; */
  background-repeat: no-repeat;
  background-size: cover;

   
}

.Subject_Contain{
  background-color: #0092c74f;
  height: 800px;
}

@media screen and (min-width: 780px) {
  .SubjectContainer {
  
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 800px; */
  margin-top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
   
}
}

.SubjectContainer h1{
  text-align: center;
  font-weight: bolder;
  background-color: #0091C7;
  /* backdrop-filter: blur(15px); */
  text-shadow: 2px 2px 4px #000000;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  color: #ECF0F1;
  padding: 10px 20px;
  font-family: 'Times New Roman', serif;
  letter-spacing: 2px;

}

@media screen and (max-width: 780px) {
  .SubjectContainer h1{
    text-align: center;
    font-weight: bolder;
    background-color: #0091C7;
    height: 50px;
    /* backdrop-filter: blur(15px); */
    text-shadow: 2px 2px 4px #000000;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: #ECF0F1;
    padding: 5px;
    font-family: 'Times New Roman', serif;
    letter-spacing: 2px;
    /* margin-top: 60px; */
  
  }

}


.Subject{
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px 20px;
  display: grid;
  width: fit-content;
  gap: 20px;
  background-color:none;
  grid-template-columns: auto auto auto ;


}

@media screen and (max-width: 780px) {

  .Subject {
    position: absolute;
    /* background-color: blue; */
    width: 100%;
    height:fit-content;
    margin-top: 50px;
    left: 0px;
    margin-right: 50px;
    justify-content:stretch;
    align-items: none;
    border-radius: 10px;
    padding: 10px 20px;
    display: grid;
 /* width: fit-content; */
    gap: 5px;
    grid-template-columns: auto;
 
   
 }

}


.Subject button{
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  background-color:rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 20px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
  color: rgb(0, 0, 0);
  font-family: 'Times New Roman', serif;
}

@media screen and (max-width: 780px) {
  .Subject button{
    padding: 5px;
    font-size: 18px;
    font-weight: lighter;
    background-color: white;
    backdrop-filter: none;
    border: none;
    border-radius: 5px;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', serif;
    margin: 0px;
  }

}

  .Subject button:hover{
   backdrop-filter: blur(15px);
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  }


  .Subject button:active{
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
    background-color: #0091C7;
    color: white;
  }


  /* .maths {
    background-size: cover;
    background-image: url('./images.jpg/maths.png');
  }

  .english {
    background-size: cover;
    background-image: url('./images.jpg/litineng.jpeg');
  }

  .litinenglish {
    background-size: cover;
    background-image: url('./images.jpg/litineng.jpeg');
  }

  .social {
    background-size: cover;
    background-image: url('./images.jpg/social.png');
  }

  .Economics {
    background-size: cover;
    background-image: url('./images.jpg/economics.jpg');
  }

  .Computer {
    background-size: cover;
    background-image: url('./images.jpg/computer.jpg');
  }

  .Basict {
    background-size: cover;
    background-image: url('./images.jpg/basictech.jpg');
  }

  .Basict {
    background-size: cover;
    background-image: url('./images.jpg/basictech.jpg');
  }

  .Agriculture {
    background-size: cover;
    background-image: url('./images.jpg/Agriculture.jpg');
  }

  .Biology {
    background-size: cover;
    background-image: url('./images.jpg/biology.jpg');
  }

  .Yeruba {
    background-size: cover;
    background-image: url('./images.jpg/yeruba.jpeg');
  }

  .Chemistry {
    background-size: cover;
    background-image: url('./images.jpg/basictech.jpg');
  }

  .CRK {
    background-size: cover;
    background-image: url('./images.jpg/basictech.jpg');
  }

  .Government {
    background-size: cover;
    background-image: url('./images.jpg/basictech.jpg');
  }

  .Science {
    background-size: cover;
    background-image: url('./images.jpg/basictech.jpg');
  }

  .Technical {
    background-size: cover;
    background-image: url('./images.jpg/basictech.jpg');
  }

  .AutoMech {
    background-size: cover;
    background-image: url('./images.jpg/basictech.jpg');
  } */